import 'package:core/core.dart';
import '../../Domain/entities/${FEATURE_NAME_SNAKE}/${FEATURE_NAME_SNAKE}_entity.dart';
import '../models/${FEATURE_NAME_SNAKE}/request/${FEATURE_NAME_SNAKE}_request.dart';
import '../models/${FEATURE_NAME_SNAKE}/request/${FEATURE_NAME_SNAKE}_request_model.dart';
import '../models/${FEATURE_NAME_SNAKE}/response/${FEATURE_NAME_SNAKE}_response_model.dart';
// [Adding_new_model_import_here_dont_remove_this_command_!!!]

abstract class ${MODULE_NAME_PASCAL}RemoteDataSource {
  Future<${FEATURE_NAME_PASCAL}Entity> ${FEATURE_NAME_SNAKE}(
      ${FEATURE_NAME_PASCAL}RequestModel ${FEATURE_NAME_SNAKE}Data);
  // [Adding_new_datasource_method_here_dont_remove_this_command_!!!]
}

class ${MODULE_NAME_PASCAL}RemoteDataSourceImpl implements ${MODULE_NAME_PASCAL}RemoteDataSource {
  final Network network;
  ${MODULE_NAME_PASCAL}RemoteDataSourceImpl({required this.network});

  @override
  Future<${FEATURE_NAME_PASCAL}Entity> ${FEATURE_NAME_SNAKE}(
      ${FEATURE_NAME_PASCAL}RequestModel ${FEATURE_NAME_SNAKE}Data) async {
    final apiRequest = ${FEATURE_NAME_PASCAL}Request(${FEATURE_NAME_SNAKE}Data);
    final result = await network.send(
      request: apiRequest,
      responseFromMap: (map) => ${FEATURE_NAME_PASCAL}Response.fromJson(map),
    );
    return result;
  }
  // [Adding_new_datasource_impl_method_here_dont_remove_this_command_!!!]
}