part of '${FEATURE_NAME_SNAKE}_cubit.dart';

class ${FEATURE_NAME_PASCAL}State extends BaseState {
  const ${FEATURE_NAME_PASCAL}State({this.failure, this.featureData, super.screenLoading = false});
  final Failure? failure;
  final ${FEATURE_NAME_PASCAL}Response? featureData;

  @override
  ${FEATURE_NAME_PASCAL}State copyWith({Failure? failure, bool? screenLoading, ${FEATURE_NAME_PASCAL}Response? featureData}) {
    return ${FEATURE_NAME_PASCAL}State(
      failure: failure ?? this.failure,
      screenLoading: screenLoading ?? this.screenLoading,
      featureData: featureData ?? this.featureData,
    );
  }
  @override
  List<Object?> get props => [screenLoading, failure, featureData];
}