part of '${FEATURE_NAME_SNAKE}_cubit.dart';

class ${FEATURE_NAME_PASCAL}State extends BaseState {
  const ${FEATURE_NAME_PASCAL}State({super.failure, this.featureData,  super.pageState, super.userEntity});
  final ${FEATURE_NAME_PASCAL}Entity? featureData;

  @override
  ${FEATURE_NAME_PASCAL}State copyWith({Failure? failure, PageState? pageState, ${FEATURE_NAME_PASCAL}Entity? featureData,UserEntity? userEntity}) {
    return ${FEATURE_NAME_PASCAL}State(
      failure: failure ?? super.failure,
      pageState: pageState ?? super.pageState,
      featureData: featureData ?? this.featureData,
      userEntity: userEntity ?? super.userEntity,

    );
  }
  @override
  List<Object?> get props => [pageState, failure, featureData, userEntity];
}