import 'package:core/packages/dartz/dartz.dart';
import 'package:core/core.dart';
import '../../../data/models/${FEATURE_NAME_SNAKE}/request/${FEATURE_NAME_SNAKE}_request_model.dart';
import '../../entities/${FEATURE_NAME_SNAKE}/${FEATURE_NAME_SNAKE}_entity.dart';
import '../../${MODULE_NAME_SNAKE}_repository/${MODULE_NAME_SNAKE}_repository.dart';

class ${FEATURE_NAME_PASCAL}UseCase
    implements UseCase<${FEATURE_NAME_PASCAL}Entity, ${FEATURE_NAME_PASCAL}RequestModel> {
  final ${MODULE_NAME_PASCAL}Repository repository;
  ${FEATURE_NAME_PASCAL}UseCase({required this.repository});
  @override
  Future<Either<Failure, ${FEATURE_NAME_PASCAL}Entity>> call(${FEATURE_NAME_PASCAL}RequestModel requestModel) async {
       Either<Failure, ${FEATURE_NAME_PASCAL}Entity> response = await repository.${FEATURE_NAME_CAMEL}(
      requestModel: requestModel,
    );
    return response;
  }
}