        case ${FEATURE_NAME_PASCAL}ScreenView.id:
                return PageRouteBuilder(
                pageBuilder: (context, animation, secondaryAnimation) =>
                    ${FEATURE_NAME_PASCAL}ScreenView(),
                transitionsBuilder: (context, animation, secondaryAnimation, child) {
                    return AppAnimations.slideAnimation(animation, child);
                },
                );